* {
  --color: {{ initParams.color }};
}

.container {
  width:720px;
  height:480px;
  position:relative;
  --background-color: {{initParams.color}};
}
.img-container{
  width:720px;
  height:480px;
  position:absolute;
  opacity:0;
}
.half-img-container{
  width: 360px;
  height:480px;
  position:absolute;
}
.container1{
  background:url({{initParams.img1}});
}
.container2{
  background:url({{initParams.img2}});
}
.container3{
  background:url({{initParams.img3}});
}
.container4{
  background:url({{initParams.img4}});
}
.container5{
  background:url({{initParams.img5}});
}
.container6{
  background:url({{initParams.img6}});
}
.container7{
  background:url({{initParams.img7}});
}
.container8{
  background:url({{initParams.img8}});
}
.container9{
  background:url({{initParams.img9}});
}
.svg-wrapper{
  position:absolute;

}
#flubber{
  stroke :black;
  opacity:0;
  stroke-width: 2px;
}
.aboutUs{
  background: linear-gradient(#ffffff,#a69fa7 ,#525255);;
  width:720px;
  height:480px;
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  position:absolute;
}
.aboutUs #logo{
  position: absolute;
  left:50%;
  top:30%;
  transform: translate(-50%,-70%);
}
.aboutUs p{
  position: absolute;
  left:50%;
  top:40%;
  transform: translate(-50%,-60%);
  font-size: 20px;
  opacity:0;
  color: #201B59;
  font-family: 'Noto Sans', sans-serif;
}
.aboutUs #subscribe{
  position: absolute;
  left:50%;
  top:45%;
  transform: translate(-50%,-55%);
  background-color: #201B59;
  border-radius:9999px;
  color:white;
  text-decoration: none;
  width:0px;
  height: 0px;
  font-size: 0px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
}
.social-media{
  position: absolute;
  top:75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100px;
  gap:12px;
}
.sm svg{
  width:0px;
  height:0px;
  fill:#201B59;
}
